body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #666;
    text-align: center;
}

.imagem-container {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens quebrem para a linha seguinte se não houver espaço */
    justify-content: center; /* Centraliza as imagens */
}

img {
    width: 100%;
    max-width: 150px; /* Limite de largura para as imagens */
    height: auto;
    margin: 10px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para o formulário */
form {
    text-align: center;
    margin-top: 20px;
}

/* Media queries para responsividade */
@media (max-width: 600px) {
    img {
        max-width: 100%; /* Permite que as imagens se ajustem à tela menor */
    }

    button {
        width: 100%; /* Botões ocupam toda a largura em telas menores */
        margin: 5px 0; /* Ajusta o espaçamento dos botões */
    }
}